<div id="backup">
    < 歌单
</div>
<div id="special">
    <img src="" class="blur">
    <div class="special_left">
        <img src="" class="special_cover" alt="专辑背景">
    </div>
    <div class="special_right">
        <h3></h3>
        <img src="images/user-default.png" alt="用户头像">
        <span class="special_name"></span>
    </div>
</div>
<ol id="musicList">

</ol>
<div id="ItemList" style="display:none;">
    <li class="musicItem">
        <i></i><br/>
        <p class="singerName"></p>
        <p class="singerDetail"></p>
        <span class="collection"></span>
    </li>
</div>